header {
  margin: 0 auto;
  text-align:center;
  height: 75px;
  background-color: #ECD5E3;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  background-color: #F8F9F9;
}

#barra {
  position: absolute;
}

#name {
  background: #fff;
  width: 50%;
  height: 30px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 25px 0 0 25px;
}

#send-buscar{
  position: relative;
  left: -1.2%;
  border-radius: 0 25px 25px 0;
  width: 25%;
  height: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #C6DBDA;
  color: #fff;
}

#send-buscar:hover {
  background: #97C1A9;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color:white;
  padding:10px 10px 50px 10px;
  border:1px solid #BFBFBF;
  box-shadow:5px 10px 18px rgba(73, 73, 73, 0.8);
}

.cat {
  height: 500px;
  width: 500px;
  margin: 0 auto;
}